#cart-panel{
    width: 80vw;
    background: gainsboro;
    margin-bottom: 50px;
}

#cart-head{
    padding: 20px;
    font-size: 3em;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#cart-body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}

#cart-end{
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: var(--dark-accept-color);
}
