.card{
    margin: 20px;
    width: 200px;
    max-height: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: .3s;
}

.card:hover{
    border: 1px solid var(--light-primary-color);
    transform: scale(1.1);
}

.card-image{
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid var(--light-primary-color);
}

.card-name{
    padding-top: 10px;
}

.card-price{
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--strong-primary-color);
}