@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
	--light-primary-color:		#c4d4ff;
	--primary-color: 			#799dff;
	--strong-primary-color: 	#607dcc;
	--dark-primary-color: 		#3c4e80;
	--dark-gray-primary-color: 	#626a80;
	--accept-color: 			#50ff91;
	--dark-accept-color: 		#2acb66;
	--cancel-color: 			#ff574f;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

ul{
	list-style: none;
}

.centered{
	display: flex;
	align-items: center;
	justify-content: center;
}


.navbar
{
	background-color: var(--light-primary-color);
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
	z-index: 900;
}

#logo
{
	width: 300px;
	height: 100%;
}

#store-name{
	font-size: 3em;
	text-align: center;
	color: var(--dark-primary-color);
	line-height: 80%;
}

#search{
	min-width: 300px;
	height: 100%;
	flex-grow: 3;
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: center;
}

.search-field{
	flex-grow: 8;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border: 3px solid var(--dark-gray-primary-color);
}

.search-button{
	background-color: var(--dark-gray-primary-color);
	flex-basis: 100px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.big-icon{
	width: 48px;
	height: 48px;
}

#cart
{
	width: 300px;
	height: 100%;
}

#profile{
	width: 300px;
	height: 100%;
}

footer
{
	color:white;
}
