#main-store{
    margin-top: 150px;
    min-width: 98vw;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 200px auto;
}

.stand-store{
    padding: 0 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.product{
    margin: 20px;
    width: 200px;
    max-height: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: .3s;
}

.product:hover{
    border: 1px solid var(--light-primary-color);
    transform: scale(1.1);
}

.product-image{
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid var(--light-primary-color);
}

.product-name{
    padding-top: 10px;
}

.product-price{
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--strong-primary-color);
}